yield:

1) Create a generator for prime numbers:
Write a generator function that generates prime numbers. Each call to the generator should yield the next prime number.

In [333]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def prime_nums_generator():
    n = 2
    while True:
        if is_prime(n):
            yield n
        n += 1

In [336]:
primes = prime_nums_generator()

In [338]:
next(primes)

2

In [339]:
next(primes)

3

In [340]:
next(primes)

5

In [341]:
next(primes)

7

2) Create a generator to generate random numbers within a range:
Write a generator function that generates random numbers within a specified range. Each call to the generator should yield a random number.

In [166]:
import random

In [167]:
num =random.randint(0,10)

In [168]:
num

8

In [171]:
def random_select(l):
    while True:
        yield random.choice(l)

res = random_select((0,10))

In [172]:
next(res)

0

In [177]:
next(res)

10

In [178]:
next(res)

10

3) Create a generator to generate permutations of a list:
Write a generator function that generates all possible permutations of a given list. Each call to the generator should yield a different permutation.

In [507]:
import itertools
from itertools import permutations
l = list(permutations(range(1, 4)))

In [508]:
l

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [509]:
def list_permutations(list):
    if len(list) <= 1:
        yield list

In [510]:
# not clear to me how to create function that calls different perutation here

Decorators:

4. Implement a memoization decorator:
Write a decorator that caches the result of a function for given input arguments. 
Apply this decorator to a computationally expensive function and observe the improved performance by reusing cached results.

In [ ]:
# Had some struggle to understand how this really works- to apply this decorator to  computationally expensive function

In [520]:
def memoize(f):
    memo = {}
    def helper(x):
        if x not in memo:            
            memo[x] = f(x)
        return memo[x]
    return helper
@memoize
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)
print(fib(40))

102334155

5. Implement a retry decorator:
Write a decorator that retries the execution of a function a specified number of times in case of failures or exceptions. Apply this decorator to functions
that interact with external services to handle temporary failures gracefully.

In [539]:
from retry import retry

In [540]:
@retry(InvalidStatus, delay=5, tries=6)
def wait_for_success_status(url):
    status = None
    try:
        result = requests.get(url)
        response = result.json()
        status = response["data"]
        if status != "SUCCESS":
            raise InvalidStatus(ErrorMessages.STATUS_TIMEOUT_MESSAGE)

    except Exception as error:
        print(error)
        raise

NameError: name 'InvalidStatus' is not defined

In [354]:
def retry_decorator(f):
        @wraps(f)
        def func_with_retries(*args, **kwargs):
            _tries, _delay = total_tries + 1, initial_wait
            while _tries > 1:
                try:
                    log(f'{total_tries + 2 - _tries}. try:', logger)
                    return f(*args, **kwargs)
                except exceptions as e:
                    _tries -= 1
                    print_args = args if args else 'no args'
                    if _tries == 1:
                        msg = str(f'Function: {f.__name__}\n'
                                  f'Failed despite best efforts after {total_tries} tries.\n'
                                  f'args: {print_args}, kwargs: {kwargs}')
                        log(msg, logger)
                        raise
                    msg = str(f'Function: {f.__name__}\n'
                              f'Exception: {e}\n'
                              f'Retrying in {_delay} seconds!, args: {print_args}, kwargs: {kwargs}\n')
                    log(msg, logger)
                    time.sleep(_delay)
                    _delay *= backoff_factor
                      return func_with_retries
    return retry_decorator

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 25)

6) Create a rate-limiting decorator:
Write a decorator that limits the rate at which a function can be called. Apply this decorator to functions that should not be invoked
more than a certain number of times per second or minute.

In [10]:
import time

def rate_limits(max_calls, period):
    def decorator(func):
        calls = 0
        last_reset = time.time()

        def wrapper(*args, **kwargs):
            nonlocal calls, last_reset

In [ ]:
# not finished

Pivot

7) Pivot a DataFrame based on column values:
Take a DataFrame with columns representing categories and values, and pivot it to reshape the data, with the category values as columns and corresponding values in the cells.

In [204]:
import pandas as pa

In [205]:
df = pa.DataFrame({"Category":["Dairy", "Dairy", "Bakery", "Fruits","Drinks"],
                   "Product" : ["Milk", "Cheese", "Bread", "Bananas", "Juice"],
                   "Price":["1.50", "2.60", "3.00", "1.20", "3.50"],
                  })

In [207]:
df

  Category  Product Price
0    Dairy     Milk  1.50
1    Dairy   Cheese  2.60
2   Bakery    Bread  3.00
3   Fruits  Bananas  1.20
4   Drinks    Juice  3.50

In [208]:
pivot_df = df.pivot(index="Category", columns="Product", values="Price")

In [209]:
pivot_df

Product  Bananas Bread Cheese Juice  Milk
Category
Bakery       NaN  3.00    NaN   NaN   NaN
Dairy        NaN   NaN   2.60   NaN  1.50
Drinks       NaN   NaN    NaN  3.50   NaN
Fruits      1.20   NaN    NaN   NaN   NaN

8) Aggregate and pivot data:
Given a DataFrame with multiple columns, apply aggregation functions (e.g., sum, average) to the values and pivot the data based on specific columns.

In [553]:
import pandas as pa

In [554]:
df = pa.DataFrame({"Gender" : ["Male", "Female", "Female", "Female", "Male"],
                  "Course": ["English", "French", "Spanish", "Chinese", "Arabic"],
                   "Fee": [10000, 11000, 17000, 19000, 18000],
                   "Discount": [2100, 600, 1000, 1800, 400]})

In [555]:
df

   Gender   Course    Fee  Discount
0    Male  English  10000      2100
1  Female   French  11000       600
2  Female  Spanish  17000      1000
3  Female  Chinese  19000      1800
4    Male   Arabic  18000       400

In [556]:
table = pa.pivot_table(df, index = ["Gender", "Course", "Fee"])

In [557]:
table

                      Discount
Gender Course  Fee
Female Chinese 19000      1800
       French  11000       600
       Spanish 17000      1000
Male   Arabic  18000       400
       English 10000      2100

In [561]:
table = pa.pivot_table(df, index=["Gender"], aggfunc= {"Fee": "mean", "Discount": "sum"})

In [579]:
table

        Discount           Fee
Gender
Female      3400  15666.666667
Male        2500  14000.000000

9) Pivot with multi-index columns:
Perform a pivot operation on a DataFrame with multi-index columns, reshaping the data based on specific levels of the column index.

In [565]:
import pandas as pa

In [566]:
iterables = [["Anna", "Adam", "Olaf", "Robert"], ["French", "Literature", "History"]] 
index = pa.MultiIndex.from_product(iterables, names=["Students", "Subjects"])
df = pa.DataFrame([ [88, 76], [95, 94], [84, 98], [82, 90], [98, 89], [87, 83], [94, 90], [90, 91], [86, 88], [78, 91], [95, 94], [94, 91] ], index=index, columns=["1st Term", "2nd Term"]) 
df

                     1st Term  2nd Term
Students Subjects
Anna     French            88        76
         Literature        95        94
         History           84        98
Adam     French            82        90
         Literature        98        89
         History           87        83
Olaf     French            94        90
         Literature        90        91
         History           86        88
Robert   French            78        91
         Literature        95        94
         History           94        91

In [574]:
pivot_df = df.pivot_table(index = "Students",
               columns = "Subjects", 
        values=["1st Term", "2nd Term"], aggfunc=["sum", "mean"])

In [575]:
pivot_df

              sum                                                    mean
         1st Term                    2nd Term                    1st Term
Subjects   French History Literature   French History Literature   French
Students
Adam           82      87         98       90      83         89       82  \
Anna           88      84         95       76      98         94       88
Olaf           94      86         90       90      88         91       94
Robert         78      94         95       91      91         94       78


                            2nd Term
Subjects History Literature   French History Literature
Students
Adam          87         98       90      83         89
Anna          84         95       76      98         94
Olaf          86         90       90      88         91
Robert        94         95       91      91         94

In [576]:
pivot_df["mean", "1st Term", "History"]

Students
Adam      87
Anna      84
Olaf      86
Robert    94
Name: (mean, 1st Term, History), dtype: int64

In [637]:
pa.DataFrame(pivot_df.unstack())

                                    0
              Subjects   Students
sum  1st Term French     Adam      82
                         Anna      88
                         Olaf      94
                         Robert    78
              History    Adam      87
                         Anna      84
                         Olaf      86
                         Robert    94
              Literature Adam      98
                         Anna      95
                         Olaf      90
                         Robert    95
     2nd Term French     Adam      90
                         Anna      76
                         Olaf      90
                         Robert    91
              History    Adam      83
                         Anna      98
                         Olaf      88
                         Robert    91
              Literature Adam      89
                         Anna      94
                         Olaf      91
                         Robert    94
mean 1st Term French     Adam      82
                         Anna      88
                         Olaf      94
                         Robert    78
              History    Adam      87
                         Anna      84
                         Olaf      86
                         Robert    94
              Literature Adam      98
                         Anna      95
                         Olaf      90
                         Robert    95
     2nd Term French     Adam      90
                         Anna      76
                         Olaf      90
                         Robert    91
              History    Adam      83
                         Anna      98
                         Olaf      88
                         Robert    91
              Literature Adam      89
                         Anna      94
                         Olaf      91
                         Robert    94

10) Take any data (your choice) and visualize the data using Ploty library. You can select any plot type,
but you need to comment (write a comment in code) why the selected type of plot represents the data best

In [ ]:
# for the chosen data to visualize I have selected bar plot type
# I assume it suits the best for visualization purpose in this case, 
# is more readable (can see all the data represented in logical manner) from viewer perspective

In [1]:
import plotly.graph_objects as go
import plotly.express as px
import pandas as pa

In [2]:
df = pa.DataFrame({"Gender" : ["Male", "Female", "Female", "Female", "Male"],
                  "Course": ["English", "French", "Spanish", "Chinese", "Arabic"],
                   "Fee": [10000, 11000, 17000, 19000, 18000],
                   "Discount": [2100, 600, 1000, 1800, 400]})

In [3]:
df

   Gender   Course    Fee  Discount
0    Male  English  10000      2100
1  Female   French  11000       600
2  Female  Spanish  17000      1000
3  Female  Chinese  19000      1800
4    Male   Arabic  18000       400

In [23]:
px.bar(df, x="Course", y="Fee", text="Fee", title="Courses 2023")

In [6]:
fig = go.Figure(go.Bar(x="Course", y="Fee", name="Courses 2023"))

ValueError:
    Invalid value of type 'builtins.str' received for the 'x' property of bar
        Received value: 'Course'

    The 'x' property is an array that may be specified as a tuple,
    list, numpy array, or pandas Series

In [ ]:
fig = go.Figure()
for gender, group in df.groupby("Gender"):
    fig.add_trace(go.Bar(x=group["Course"], y=group["Fee"], name="Courses 2023"))
fig.update_layout(legend_title_text = "Gender")
fig.update_xaxes(title_text="Course")
fig.update_yaxes(title_text="Fee")

In [7]:
fig.show()

NameError: name 'fig' is not defined