Transactions (to be performed in Python):

1. **Task: Bank Transactions**
You are tasked with implementing a banking system that allows customers to transfer funds between accounts.
Design a SQL transaction to ensure that the amount is deducted from the sender's account and added to the receiver's account in an atomic manner.
If any part of the transaction fails, rollback the changes to maintain data integrity.

In [1]:
import mysql.connector

In [1]:
connection = mysql.connector.connect(user="root",
                                     password="",
                                     host="localhost",
                                     database="sql_transactions_db")
cursor = connection.cursor()
# withdraw from account A 
update_query = """Update account_A set balance = 1000 where id = 1"""
    cursor.execute(update_query)

# Deposit to account B 
    update_query = """Update account_B set balance = 1500 where id = 2"""
    cursor.execute(update_query)
    print("Transaction successful")
    
    except mysql.connector.Error as error:
    print("Failed to update record to database rollback: {}".format(error))
    # reverting changes because of exception
    conn.rollback()
finally:
    # closing database connection.
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("connection is closed")
    
conn.commit()


cursor.execute("INSERT INTO students(name,lastname,age) VALUES ('Emmily','Yan',24)")
# connection.rollback()

cursor.execute("SELECT COUNT(*) FROM students")
results = cursor.fetchall()
count = results[0][0]
if count > 20:
    connection.rollback()
else:
    connection.commit()
connection.close()
#New transaction    
cursor = connection.cursor()
cursor.execute("SELECT COUNT(*) FROM students")
results = cursor.fetchall()
count = results[0][0]
cursor.execute("INSERT INTO students(name,lastname,age) VALUES ('Emmily','Yan',24)")
connection.commit()
connection.close()

NameError: name 'mysql' is not defined

In [2]:
conn = mysql.connector.connect

In [3]:
cursor = conn.cursor()

AttributeError: 'function' object has no attribute 'cursor'

2. **Task: Order Processing**
You are developing an online shopping platform.
Create a SQL transaction that updates the inventory of products when a customer places an order.
Deduct the ordered quantity from the product stock and update the order status.
If any part of the transaction fails (e.g., insufficient stock), roll back the changes to ensure consistent data.

In [ ]:
import mysql.connector

In [ ]:
connection = mysql.connector.connect(user="root",
                                     password="",
                                     host="localhost",
                                     database="sql_transactions_db")
cursor = connection.cursor()
cursor.execute("INSERT INTO students(name,lastname,age) VALUES ('Emmily','Yan',24)")
# connection.rollback()

cursor.execute("SELECT COUNT(*) FROM students")
results = cursor.fetchall()
count = results[0][0]
if count > 20:
    connection.rollback()
else:
    connection.commit()

#New transaction    
cursor = connection.cursor()
cursor.execute("SELECT COUNT(*) FROM students")
results = cursor.fetchall()
count = results[0][0]
cursor.execute("INSERT INTO students(name,lastname,age) VALUES ('Emmily','Yan',24)")
connection.commit()
connection.close()

3. **Task: Employee Salary Adjustment**
Your HR department needs to apply a salary adjustment to all employees based on their performance.
Design a SQL transaction that updates the salary of each employee with the corresponding adjustment and logs the changes. If there is any issue while updating salaries, roll back the changes to maintain the previous salary data.

In [ ]:
update employee set sal =(select avg(sal) from employee group by deptno) where deptno in(select deptno from employee group by deptno)

4. **Task: Flight Reservation**
You are building a flight reservation system. Create a SQL transaction that reserves a seat for a passenger on a flight.
Deduct the seat availability, update the reservation record, and log the booking details.
If any part of the transaction fails (e.g., seat already taken), roll back the changes and notify the user of the failure.

5. **Task: Product Returns**
You are developing an e-commerce platform. Implement a SQL transaction to process product returns initiated by customers.
Update the product's return status, refund the customer's payment, and log the return details.
If any part of the transaction fails (e.g., invalid return request), roll back the changes and handle the error gracefully.

6. **Task: Student Enrollment**
Design a SQL transaction to handle the enrollment of new students in a university.
Update the student enrollment records, assign courses, and update the tuition fee payment status. 
If any part of the transaction fails (e.g., course limit reached), roll back the changes to ensure no invalid enrollments are recorded.

Non SQL database:

In Python, design your own design of the database (using the files) and perform some practical examples with it.

In [35]:
import json
import os

In [36]:
student1 = {"id":1,"name":"Anna","last_name":"Green","age":14}
student2 = {"id":2,"name":"Thomas","last_name":"Brown","age":16}
student3 = {"id":3,"name":"Sandra","last_name":"Wakefield","age":15}

students = list()

students.append(student1)
students.append(student2)
students.append(student3)
with open("students.json","w") as json_f:
    json.dump(students,json_f)
with open("students.json","r") as json_f:
    students_data = json.load(json_f)

In [37]:
student = {"id":4,"name":"Brian","last_name":"Oaktree","age":14}
students_data.append(student)

with open("students.json","w") as json_f:
    json.dump(students_data,json_f)

In [45]:
class StudentsDB:
    
    def __init__(self):
        with open("students.json","r") as json_f:
            self.students_data = json.load(json_f)
            self.students_data_init = self.studenta_data.copy()
        self.load_students_from_file()
    def get_last_id(self):
        last_id = 0
        for student in self.students_data:
            if last_id < students["id"]:
                last_id = students["id"]
        return last_id
                
    def insert(self,name:str,last_name:str,age:int):
        new_id = self.get_last_id() + 1
        student = {"id":new_id,"name":name,"last_name":last_name,"age":age}
        self.student_data.append(student)
        
    def commit(self):
        with open("students.json","w") as json_f:
            json.dump(self.students_data,json_f)
            
            def rollback(self):
#         self.persons_data = self.persons_data_init.copy()
       self.load_students_from_file()

    def load_students_from_file(self):
         with open("students.json","r") as json_f:
            self.students_data = json.load(json_f)
            
    def update(self,id:int,name=None,last_name=None,age=None):
        student_upd = None
        for student in self.students_data:
            if student["id"] == id:
                student_upd = student
                break
        if student_upd == None:
            return False
        
        if not (name == None):
            student["name"] = name
        if not (last_name == None):
            student["last_name"] = last_name
        if not (age == None):    
            student["age"] = age
        return True

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 26)

In [46]:
student_db = StudentsDB()

AttributeError: 'StudentsDB' object has no attribute 'load_persons_from_file'

In [41]:
student_db.insert("Jack","Eagle",14)

NameError: name 'person_db' is not defined

In [43]:
student_db.students_data

NameError: name 'student_db' is not defined