1. Map and Filter: Use map to double each element in a list of numbers.
Use filter to select only the odd numbers from a list of integers.

In [46]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [50]:
def double(x):
    return 2 * x

In [51]:
result = map(double, numbers)

In [52]:
doubled_numbers = list(result)

In [53]:
doubled_numbers

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [54]:
odd_num = [num for num in numbers if num % 2 == 1]

In [55]:
odd_num

[1, 3, 5, 7]

2. Pandas: Read a CSV file into a pandas DataFrame and display the first few rows.
Group a DataFrame by a specific column and calculate the average of another column.
Merge two DataFrames based on a common column.

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\krent\OneDrive\Desktop\PythonII\PythonIIPractical\output.csv")

In [6]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [9]:
df.groupby(["variation"]).count()

                              rating  date  verified_reviews  feedback
variation
Black                            261   261               261       261
Black  Dot                       516   516               516       516
Black  Plus                      270   270               270       270
Black  Show                      265   265               265       265
Black  Spot                      241   241               241       241
Charcoal Fabric                  430   430               430       430
Configuration: Fire TV Stick     350   350               350       350
Heather Gray Fabric              157   157               157       157
Oak Finish                        14    14                14        14
Sandstone Fabric                  90    90                90        90
Walnut Finish                      9     9                 9         9
White                             91    91                90        91
White  Dot                       184   184               184       184
White  Plus                       78    78                78        78
White  Show                       85    85                85        85
White  Spot                      109   109               109       109

In [56]:
df["rating"].mean()

4.463174603174603

In [ ]:
df1= df[]

In [ ]:
df2 = df[]

In [ ]:
pd.merge(df1, df2, on="variation")

3. Namedtuple: Define a Person named tuple with fields for name, age, and city. Create instances of Person and access their attributes.

In [13]:
from collections import namedtuple

In [14]:
Person = namedtuple("Person", ["name", "age", "city"])

In [15]:
person = Person("Robert", 38, "Amsterdam")

In [16]:
print(person.name)

Robert

In [17]:
print(person.age)

38

In [18]:
print(person.city)

Amsterdam

4. Counter: Count the frequency of each word in a given text and display the top 5 most common words.
Merge two counters together and calculate the total count of each element.

In [62]:
from collections import Counter

In [63]:
c = Counter(["green", "blue", "yellow", "violet", "violet", "green", "black", "yellow", "yellow"])

In [64]:
print(c["green"])

2

In [65]:
print(c["blue"])

1

In [66]:
print(c["yellow"])

3

In [67]:
print(c["violet"])

2

In [68]:
print(c["black"])

1

In [69]:
print(c.most_common(5))

[('yellow', 3), ('green', 2), ('violet', 2), ('blue', 1), ('black', 1)]

In [70]:
counter1 = Counter(["a","b","c", "D"])

In [71]:
counter2 = Counter(["D","E","F", "a"])

In [73]:
merged_counter = counter1 + counter2

In [74]:
merged_counter

Counter({'a': 2, 'b': 1, 'c': 1, 'D': 2, 'E': 1, 'F': 1})

5. Deque: Use a deque to implement a queue and perform enqueue and dequeue operations.
Reverse the order of elements in a deque.

In [28]:
from collections import deque

In [32]:
queue = deque([1, 2, 3, 4, 5, 6, 7])

In [34]:
queue.append(8)

In [35]:
queue

deque([1, 2, 3, 4, 5, 6, 7, 8])

In [36]:
queue.appendleft(0)

In [37]:
queue

deque([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [38]:
queue.reverse()

In [39]:
queue

deque([8, 7, 6, 5, 4, 3, 2, 1, 0])

6. Defaultdict: Create a defaultdict that maps a character to a list of words starting with that character.
Calculate the sum of values for each key in a dictionary using a defaultdict.

In [40]:
from collections import defaultdict

In [ ]:
d = defaultdict(int)

7. Reduce: Use reduce to find the maximum element in a list of numbers.
Combine a list of strings into a single string using reduce.

In [75]:
from functools import reduce

In [76]:
list = [1, 2, 3, 4, 5, 6, 7]

In [77]:
largest_elem = reduce(max, list)

In [78]:
largest_elem

7

In [79]:
items = ["have", "a", "nice", "day"]

In [80]:
result = reduce(lambda x, y: x + ' ' + y, map(str, items))

In [81]:
result

'have a nice day'