MongoDB:

  1)Take one of the previous SQL databases created by you.
  
  2)In Python, write the code which extracts the tables from that DB.

In [10]:
import mysql.connector
connection = mysql.connector.connect(user="root",
                                     password="",
                                     host="localhost",
                                     database="tasksweek6")
cursor = connection.cursor()
cursor.execute("SELECT * FROM employees")
records = cursor.fetchall()
records

[(1, 'John Doe', 35, Decimal('50000.00'), 'Sales'),
 (2, 'Jane Smith', 28, Decimal('42000.00'), 'HR'),
 (3, 'Mike Johnson', 42, Decimal('60000.00'), 'Finance'),
 (4, 'Emily Brown', 29, Decimal('48000.00'), 'IT'),
 (5, 'David Lee', 38, Decimal('55000.00'), 'Sales')]

In [11]:
# if connection.is_connected():
connection.close()
cursor.close()

True

3)Load the data from these tables as the collections to MongoDB collections (create them before)

In [12]:
import json
import pymongo

In [13]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://krentale:wEJqwQN8LjAqO56e@cluster0.bchpjdz.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [14]:
db = client["tasksweek8"]
collection = db["mongoDB"]

# Loading or opening the json file
with open (r"C:\Users\krent\Downloads\tasksweek6.json") as file:
    file_data = json.load(file)
     
# Inserting the loaded data in the collection 
collection.insert_many(file_data)

In [15]:
results = collection.find()

In [16]:
for entry in results:
    print(entry)

{'_id': ObjectId('64d8aa3edd91a085fc3b5173'), 'type': 'header', 'version': '5.2.1', 'comment': 'Export to JSON plugin for PHPMyAdmin'}
{'_id': ObjectId('64d8aa3edd91a085fc3b5174'), 'type': 'database', 'name': 'tasksweek6'}
{'_id': ObjectId('64d8aa3edd91a085fc3b5175'), 'type': 'table', 'name': 'customers', 'database': 'tasksweek6', 'data': [{'customer_id': '101', 'customer_name': 'Alice Johnson', 'age': '25', 'city': 'New York'}, {'customer_id': '102', 'customer_name': 'Bob Smith', 'age': '30', 'city': 'Los Angeles'}, {'customer_id': '103', 'customer_name': 'Eva Lee', 'age': '28', 'city': 'Chicago'}, {'customer_id': '104', 'customer_name': 'Mike Brown', 'age': '35', 'city': 'Houston'}, {'customer_id': '105', 'customer_name': 'Sophia Wang', 'age': '22', 'city': 'San Francisco'}]}
{'_id': ObjectId('64d8aa3edd91a085fc3b5176'), 'type': 'table', 'name': 'employees', 'database': 'tasksweek6', 'data': [{'employee_id': '1', 'employee_name': 'John Doe', 'age': '35', 'salary': '50000.00', 'department': 'Sales'}, {'employee_id': '2', 'employee_name': 'Jane Smith', 'age': '28', 'salary': '42000.00', 'department': 'HR'}, {'employee_id': '3', 'employee_name': 'Mike Johnson', 'age': '42', 'salary': '60000.00', 'department': 'Finance'}, {'employee_id': '4', 'employee_name': 'Emily Brown', 'age': '29', 'salary': '48000.00', 'department': 'IT'}, {'employee_id': '5', 'employee_name': 'David Lee', 'age': '38', 'salary': '55000.00', 'department': 'Sales'}]}
{'_id': ObjectId('64d8aa3edd91a085fc3b5177'), 'type': 'table', 'name': 'orders', 'database': 'tasksweek6', 'data': [{'order_id': '1', 'customer_id': '101', 'order_total': '120.50'}, {'order_id': '2', 'customer_id': '102', 'order_total': '250.75'}, {'order_id': '3', 'customer_id': '103', 'order_total': '70.20'}, {'order_id': '4', 'customer_id': '101', 'order_total': '80.00'}, {'order_id': '5', 'customer_id': '105', 'order_total': '150.30'}]}
{'_id': ObjectId('64d8aa3edd91a085fc3b5178'), 'type': 'table', 'name': 'products', 'database': 'tasksweek6', 'data': [{'product_id': '201', 'product_name': 'Widget A', 'category': 'Electronics', 'price': '25.50'}, {'product_id': '202', 'product_name': 'Gadget B', 'category': 'Electronics', 'price': '35.20'}, {'product_id': '203', 'product_name': 'Tool C', 'category': 'Hardware', 'price': '15.80'}, {'product_id': '204', 'product_name': 'Toy D', 'category': 'Toys', 'price': '10.99'}, {'product_id': '205', 'product_name': 'Appliance E', 'category': 'Home', 'price': '75.60'}]}
{'_id': ObjectId('64d8aa3edd91a085fc3b5179'), 'type': 'table', 'name': 'sales', 'database': 'tasksweek6', 'data': [{'sale_id': '301', 'product_id': '201', 'sale_date': '2023-07-01', 'quantity': '5', 'revenue': '127.50'}, {'sale_id': '302', 'product_id': '202', 'sale_date': '2023-07-02', 'quantity': '2', 'revenue': '70.40'}, {'sale_id': '303', 'product_id': '201', 'sale_date': '2023-07-03', 'quantity': '3', 'revenue': '76.50'}, {'sale_id': '304', 'product_id': '204', 'sale_date': '2023-07-03', 'quantity': '10', 'revenue': '109.90'}, {'sale_id': '305', 'product_id': '205', 'sale_date': '2023-07-04', 'quantity': '1', 'revenue': '75.60'}]}
{'_id': ObjectId('64d8aaf0dd91a085fc3b517a'), 'type': 'header', 'version': '5.2.1', 'comment': 'Export to JSON plugin for PHPMyAdmin'}
{'_id': ObjectId('64d8aaf0dd91a085fc3b517b'), 'type': 'database', 'name': 'tasksweek6'}
{'_id': ObjectId('64d8aaf0dd91a085fc3b517c'), 'type': 'table', 'name': 'customers', 'database': 'tasksweek6', 'data': [{'customer_id': '101', 'customer_name': 'Alice Johnson', 'age': '25', 'city': 'New York'}, {'customer_id': '102', 'customer_name': 'Bob Smith', 'age': '30', 'city': 'Los Angeles'}, {'customer_id': '103', 'customer_name': 'Eva Lee', 'age': '28', 'city': 'Chicago'}, {'customer_id': '104', 'customer_name': 'Mike Brown', 'age': '35', 'city': 'Houston'}, {'customer_id': '105', 'customer_name': 'Sophia Wang', 'age': '22', 'city': 'San Francisco'}]}
{'_id': ObjectId('64d8aaf0dd91a085fc3b517d'), 'type': 'table', 'name': 'employees', 'database': 'tasksweek6', 'data': [{'employee_id': '1', 'employee_name': 'John Doe', 'age': '35', 'salary': '50000.00', 'department': 'Sales'}, {'employee_id': '2', 'employee_name': 'Jane Smith', 'age': '28', 'salary': '42000.00', 'department': 'HR'}, {'employee_id': '3', 'employee_name': 'Mike Johnson', 'age': '42', 'salary': '60000.00', 'department': 'Finance'}, {'employee_id': '4', 'employee_name': 'Emily Brown', 'age': '29', 'salary': '48000.00', 'department': 'IT'}, {'employee_id': '5', 'employee_name': 'David Lee', 'age': '38', 'salary': '55000.00', 'department': 'Sales'}]}
{'_id': ObjectId('64d8aaf0dd91a085fc3b517e'), 'type': 'table', 'name': 'orders', 'database': 'tasksweek6', 'data': [{'order_id': '1', 'customer_id': '101', 'order_total': '120.50'}, {'order_id': '2', 'customer_id': '102', 'order_total': '250.75'}, {'order_id': '3', 'customer_id': '103', 'order_total': '70.20'}, {'order_id': '4', 'customer_id': '101', 'order_total': '80.00'}, {'order_id': '5', 'customer_id': '105', 'order_total': '150.30'}]}
{'_id': ObjectId('64d8aaf0dd91a085fc3b517f'), 'type': 'table', 'name': 'products', 'database': 'tasksweek6', 'data': [{'product_id': '201', 'product_name': 'Widget A', 'category': 'Electronics', 'price': '25.50'}, {'product_id': '202', 'product_name': 'Gadget B', 'category': 'Electronics', 'price': '35.20'}, {'product_id': '203', 'product_name': 'Tool C', 'category': 'Hardware', 'price': '15.80'}, {'product_id': '204', 'product_name': 'Toy D', 'category': 'Toys', 'price': '10.99'}, {'product_id': '205', 'product_name': 'Appliance E', 'category': 'Home', 'price': '75.60'}]}
{'_id': ObjectId('64d8aaf0dd91a085fc3b5180'), 'type': 'table', 'name': 'sales', 'database': 'tasksweek6', 'data': [{'sale_id': '301', 'product_id': '201', 'sale_date': '2023-07-01', 'quantity': '5', 'revenue': '127.50'}, {'sale_id': '302', 'product_id': '202', 'sale_date': '2023-07-02', 'quantity': '2', 'revenue': '70.40'}, {'sale_id': '303', 'product_id': '201', 'sale_date': '2023-07-03', 'quantity': '3', 'revenue': '76.50'}, {'sale_id': '304', 'product_id': '204', 'sale_date': '2023-07-03', 'quantity': '10', 'revenue': '109.90'}, {'sale_id': '305', 'product_id': '205', 'sale_date': '2023-07-04', 'quantity': '1', 'revenue': '75.60'}]}
{'_id': ObjectId('64d8ab5edd91a085fc3b5181'), 'type': 'header', 'version': '5.2.1', 'comment': 'Export to JSON plugin for PHPMyAdmin'}
{'_id': ObjectId('64d8ab5edd91a085fc3b5182'), 'type': 'database', 'name': 'tasksweek6'}
{'_id': ObjectId('64d8ab5edd91a085fc3b5183'), 'type': 'table', 'name': 'customers', 'database': 'tasksweek6', 'data': [{'customer_id': '101', 'customer_name': 'Alice Johnson', 'age': '25', 'city': 'New York'}, {'customer_id': '102', 'customer_name': 'Bob Smith', 'age': '30', 'city': 'Los Angeles'}, {'customer_id': '103', 'customer_name': 'Eva Lee', 'age': '28', 'city': 'Chicago'}, {'customer_id': '104', 'customer_name': 'Mike Brown', 'age': '35', 'city': 'Houston'}, {'customer_id': '105', 'customer_name': 'Sophia Wang', 'age': '22', 'city': 'San Francisco'}]}
{'_id': ObjectId('64d8ab5edd91a085fc3b5184'), 'type': 'table', 'name': 'employees', 'database': 'tasksweek6', 'data': [{'employee_id': '1', 'employee_name': 'John Doe', 'age': '35', 'salary': '50000.00', 'department': 'Sales'}, {'employee_id': '2', 'employee_name': 'Jane Smith', 'age': '28', 'salary': '42000.00', 'department': 'HR'}, {'employee_id': '3', 'employee_name': 'Mike Johnson', 'age': '42', 'salary': '60000.00', 'department': 'Finance'}, {'employee_id': '4', 'employee_name': 'Emily Brown', 'age': '29', 'salary': '48000.00', 'department': 'IT'}, {'employee_id': '5', 'employee_name': 'David Lee', 'age': '38', 'salary': '55000.00', 'department': 'Sales'}]}
{'_id': ObjectId('64d8ab5edd91a085fc3b5185'), 'type': 'table', 'name': 'orders', 'database': 'tasksweek6', 'data': [{'order_id': '1', 'customer_id': '101', 'order_total': '120.50'}, {'order_id': '2', 'customer_id': '102', 'order_total': '250.75'}, {'order_id': '3', 'customer_id': '103', 'order_total': '70.20'}, {'order_id': '4', 'customer_id': '101', 'order_total': '80.00'}, {'order_id': '5', 'customer_id': '105', 'order_total': '150.30'}]}
{'_id': ObjectId('64d8ab5edd91a085fc3b5186'), 'type': 'table', 'name': 'products', 'database': 'tasksweek6', 'data': [{'product_id': '201', 'product_name': 'Widget A', 'category': 'Electronics', 'price': '25.50'}, {'product_id': '202', 'product_name': 'Gadget B', 'category': 'Electronics', 'price': '35.20'}, {'product_id': '203', 'product_name': 'Tool C', 'category': 'Hardware', 'price': '15.80'}, {'product_id': '204', 'product_name': 'Toy D', 'category': 'Toys', 'price': '10.99'}, {'product_id': '205', 'product_name': 'Appliance E', 'category': 'Home', 'price': '75.60'}]}
{'_id': ObjectId('64d8ab5edd91a085fc3b5187'), 'type': 'table', 'name': 'sales', 'database': 'tasksweek6', 'data': [{'sale_id': '301', 'product_id': '201', 'sale_date': '2023-07-01', 'quantity': '5', 'revenue': '127.50'}, {'sale_id': '302', 'product_id': '202', 'sale_date': '2023-07-02', 'quantity': '2', 'revenue': '70.40'}, {'sale_id': '303', 'product_id': '201', 'sale_date': '2023-07-03', 'quantity': '3', 'revenue': '76.50'}, {'sale_id': '304', 'product_id': '204', 'sale_date': '2023-07-03', 'quantity': '10', 'revenue': '109.90'}, {'sale_id': '305', 'product_id': '205', 'sale_date': '2023-07-04', 'quantity': '1', 'revenue': '75.60'}]}
{'_id': ObjectId('64d8adb9dd91a085fc3b5188'), 'employee_id': 6, 'employee_name': 'Lily Clark'}
{'_id': ObjectId('64d8adb9dd91a085fc3b5189'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}
{'_id': ObjectId('64d8adb9dd91a085fc3b518a'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}
{'_id': ObjectId('64d8b133dd91a085fc3b518c'), 'type': 'header', 'version': '5.2.1', 'comment': 'Export to JSON plugin for PHPMyAdmin'}
{'_id': ObjectId('64d8b133dd91a085fc3b518d'), 'type': 'database', 'name': 'tasksweek6'}
{'_id': ObjectId('64d8b133dd91a085fc3b518e'), 'type': 'table', 'name': 'customers', 'database': 'tasksweek6', 'data': [{'customer_id': '101', 'customer_name': 'Alice Johnson', 'age': '25', 'city': 'New York'}, {'customer_id': '102', 'customer_name': 'Bob Smith', 'age': '30', 'city': 'Los Angeles'}, {'customer_id': '103', 'customer_name': 'Eva Lee', 'age': '28', 'city': 'Chicago'}, {'customer_id': '104', 'customer_name': 'Mike Brown', 'age': '35', 'city': 'Houston'}, {'customer_id': '105', 'customer_name': 'Sophia Wang', 'age': '22', 'city': 'San Francisco'}]}
{'_id': ObjectId('64d8b133dd91a085fc3b518f'), 'type': 'table', 'name': 'employees', 'database': 'tasksweek6', 'data': [{'employee_id': '1', 'employee_name': 'John Doe', 'age': '35', 'salary': '50000.00', 'department': 'Sales'}, {'employee_id': '2', 'employee_name': 'Jane Smith', 'age': '28', 'salary': '42000.00', 'department': 'HR'}, {'employee_id': '3', 'employee_name': 'Mike Johnson', 'age': '42', 'salary': '60000.00', 'department': 'Finance'}, {'employee_id': '4', 'employee_name': 'Emily Brown', 'age': '29', 'salary': '48000.00', 'department': 'IT'}, {'employee_id': '5', 'employee_name': 'David Lee', 'age': '38', 'salary': '55000.00', 'department': 'Sales'}]}
{'_id': ObjectId('64d8b133dd91a085fc3b5190'), 'type': 'table', 'name': 'orders', 'database': 'tasksweek6', 'data': [{'order_id': '1', 'customer_id': '101', 'order_total': '120.50'}, {'order_id': '2', 'customer_id': '102', 'order_total': '250.75'}, {'order_id': '3', 'customer_id': '103', 'order_total': '70.20'}, {'order_id': '4', 'customer_id': '101', 'order_total': '80.00'}, {'order_id': '5', 'customer_id': '105', 'order_total': '150.30'}]}
{'_id': ObjectId('64d8b133dd91a085fc3b5191'), 'type': 'table', 'name': 'products', 'database': 'tasksweek6', 'data': [{'product_id': '201', 'product_name': 'Widget A', 'category': 'Electronics', 'price': '25.50'}, {'product_id': '202', 'product_name': 'Gadget B', 'category': 'Electronics', 'price': '35.20'}, {'product_id': '203', 'product_name': 'Tool C', 'category': 'Hardware', 'price': '15.80'}, {'product_id': '204', 'product_name': 'Toy D', 'category': 'Toys', 'price': '10.99'}, {'product_id': '205', 'product_name': 'Appliance E', 'category': 'Home', 'price': '75.60'}]}
{'_id': ObjectId('64d8b133dd91a085fc3b5192'), 'type': 'table', 'name': 'sales', 'database': 'tasksweek6', 'data': [{'sale_id': '301', 'product_id': '201', 'sale_date': '2023-07-01', 'quantity': '5', 'revenue': '127.50'}, {'sale_id': '302', 'product_id': '202', 'sale_date': '2023-07-02', 'quantity': '2', 'revenue': '70.40'}, {'sale_id': '303', 'product_id': '201', 'sale_date': '2023-07-03', 'quantity': '3', 'revenue': '76.50'}, {'sale_id': '304', 'product_id': '204', 'sale_date': '2023-07-03', 'quantity': '10', 'revenue': '109.90'}, {'sale_id': '305', 'product_id': '205', 'sale_date': '2023-07-04', 'quantity': '1', 'revenue': '75.60'}]}
{'_id': ObjectId('64d8b13ddd91a085fc3b5193'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b13ddd91a085fc3b5194'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}
{'_id': ObjectId('64d8b13ddd91a085fc3b5195'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}
{'_id': ObjectId('64d8b186dd91a085fc3b5197'), 'type': 'header', 'version': '5.2.1', 'comment': 'Export to JSON plugin for PHPMyAdmin'}
{'_id': ObjectId('64d8b186dd91a085fc3b5198'), 'type': 'database', 'name': 'tasksweek6'}
{'_id': ObjectId('64d8b186dd91a085fc3b5199'), 'type': 'table', 'name': 'customers', 'database': 'tasksweek6', 'data': [{'customer_id': '101', 'customer_name': 'Alice Johnson', 'age': '25', 'city': 'New York'}, {'customer_id': '102', 'customer_name': 'Bob Smith', 'age': '30', 'city': 'Los Angeles'}, {'customer_id': '103', 'customer_name': 'Eva Lee', 'age': '28', 'city': 'Chicago'}, {'customer_id': '104', 'customer_name': 'Mike Brown', 'age': '35', 'city': 'Houston'}, {'customer_id': '105', 'customer_name': 'Sophia Wang', 'age': '22', 'city': 'San Francisco'}]}
{'_id': ObjectId('64d8b186dd91a085fc3b519a'), 'type': 'table', 'name': 'employees', 'database': 'tasksweek6', 'data': [{'employee_id': '1', 'employee_name': 'John Doe', 'age': '35', 'salary': '50000.00', 'department': 'Sales'}, {'employee_id': '2', 'employee_name': 'Jane Smith', 'age': '28', 'salary': '42000.00', 'department': 'HR'}, {'employee_id': '3', 'employee_name': 'Mike Johnson', 'age': '42', 'salary': '60000.00', 'department': 'Finance'}, {'employee_id': '4', 'employee_name': 'Emily Brown', 'age': '29', 'salary': '48000.00', 'department': 'IT'}, {'employee_id': '5', 'employee_name': 'David Lee', 'age': '38', 'salary': '55000.00', 'department': 'Sales'}]}
{'_id': ObjectId('64d8b186dd91a085fc3b519b'), 'type': 'table', 'name': 'orders', 'database': 'tasksweek6', 'data': [{'order_id': '1', 'customer_id': '101', 'order_total': '120.50'}, {'order_id': '2', 'customer_id': '102', 'order_total': '250.75'}, {'order_id': '3', 'customer_id': '103', 'order_total': '70.20'}, {'order_id': '4', 'customer_id': '101', 'order_total': '80.00'}, {'order_id': '5', 'customer_id': '105', 'order_total': '150.30'}]}
{'_id': ObjectId('64d8b186dd91a085fc3b519c'), 'type': 'table', 'name': 'products', 'database': 'tasksweek6', 'data': [{'product_id': '201', 'product_name': 'Widget A', 'category': 'Electronics', 'price': '25.50'}, {'product_id': '202', 'product_name': 'Gadget B', 'category': 'Electronics', 'price': '35.20'}, {'product_id': '203', 'product_name': 'Tool C', 'category': 'Hardware', 'price': '15.80'}, {'product_id': '204', 'product_name': 'Toy D', 'category': 'Toys', 'price': '10.99'}, {'product_id': '205', 'product_name': 'Appliance E', 'category': 'Home', 'price': '75.60'}]}
{'_id': ObjectId('64d8b186dd91a085fc3b519d'), 'type': 'table', 'name': 'sales', 'database': 'tasksweek6', 'data': [{'sale_id': '301', 'product_id': '201', 'sale_date': '2023-07-01', 'quantity': '5', 'revenue': '127.50'}, {'sale_id': '302', 'product_id': '202', 'sale_date': '2023-07-02', 'quantity': '2', 'revenue': '70.40'}, {'sale_id': '303', 'product_id': '201', 'sale_date': '2023-07-03', 'quantity': '3', 'revenue': '76.50'}, {'sale_id': '304', 'product_id': '204', 'sale_date': '2023-07-03', 'quantity': '10', 'revenue': '109.90'}, {'sale_id': '305', 'product_id': '205', 'sale_date': '2023-07-04', 'quantity': '1', 'revenue': '75.60'}]}
{'_id': ObjectId('64d8b18bdd91a085fc3b519e'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b18bdd91a085fc3b519f'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}
{'_id': ObjectId('64d8b18bdd91a085fc3b51a0'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}
{'_id': ObjectId('64d8b22add91a085fc3b51a2'), 'type': 'header', 'version': '5.2.1', 'comment': 'Export to JSON plugin for PHPMyAdmin'}
{'_id': ObjectId('64d8b22add91a085fc3b51a3'), 'type': 'database', 'name': 'tasksweek6'}
{'_id': ObjectId('64d8b22add91a085fc3b51a4'), 'type': 'table', 'name': 'customers', 'database': 'tasksweek6', 'data': [{'customer_id': '101', 'customer_name': 'Alice Johnson', 'age': '25', 'city': 'New York'}, {'customer_id': '102', 'customer_name': 'Bob Smith', 'age': '30', 'city': 'Los Angeles'}, {'customer_id': '103', 'customer_name': 'Eva Lee', 'age': '28', 'city': 'Chicago'}, {'customer_id': '104', 'customer_name': 'Mike Brown', 'age': '35', 'city': 'Houston'}, {'customer_id': '105', 'customer_name': 'Sophia Wang', 'age': '22', 'city': 'San Francisco'}]}
{'_id': ObjectId('64d8b22add91a085fc3b51a5'), 'type': 'table', 'name': 'employees', 'database': 'tasksweek6', 'data': [{'employee_id': '1', 'employee_name': 'John Doe', 'age': '35', 'salary': '50000.00', 'department': 'Sales'}, {'employee_id': '2', 'employee_name': 'Jane Smith', 'age': '28', 'salary': '42000.00', 'department': 'HR'}, {'employee_id': '3', 'employee_name': 'Mike Johnson', 'age': '42', 'salary': '60000.00', 'department': 'Finance'}, {'employee_id': '4', 'employee_name': 'Emily Brown', 'age': '29', 'salary': '48000.00', 'department': 'IT'}, {'employee_id': '5', 'employee_name': 'David Lee', 'age': '38', 'salary': '55000.00', 'department': 'Sales'}]}
{'_id': ObjectId('64d8b22add91a085fc3b51a6'), 'type': 'table', 'name': 'orders', 'database': 'tasksweek6', 'data': [{'order_id': '1', 'customer_id': '101', 'order_total': '120.50'}, {'order_id': '2', 'customer_id': '102', 'order_total': '250.75'}, {'order_id': '3', 'customer_id': '103', 'order_total': '70.20'}, {'order_id': '4', 'customer_id': '101', 'order_total': '80.00'}, {'order_id': '5', 'customer_id': '105', 'order_total': '150.30'}]}
{'_id': ObjectId('64d8b22add91a085fc3b51a7'), 'type': 'table', 'name': 'products', 'database': 'tasksweek6', 'data': [{'product_id': '201', 'product_name': 'Widget A', 'category': 'Electronics', 'price': '25.50'}, {'product_id': '202', 'product_name': 'Gadget B', 'category': 'Electronics', 'price': '35.20'}, {'product_id': '203', 'product_name': 'Tool C', 'category': 'Hardware', 'price': '15.80'}, {'product_id': '204', 'product_name': 'Toy D', 'category': 'Toys', 'price': '10.99'}, {'product_id': '205', 'product_name': 'Appliance E', 'category': 'Home', 'price': '75.60'}]}

3.1) Create unique index, so it matches the key value in the initial SQL database

In [91]:
#db.collection.createIndex( <key and index type specification>, { unique: true } )
collection.create_index("employee_id",unique=True)# shows up error in here when running the code

InvalidOperation: Cannot use MongoClient after close

 4)Insert at least 3 entries to these collections

In [19]:
entry1 = {"employee_id":6,"employee_name":"Jane Steal","age":27,"salary": 34000.00,"department":"Sales"}
entry2 = {"employee_id":7,"employee_name":"Adam Crane","age":34,"salary": 56000.00,"department":"Finance"}
entry3 = {"employee_id":8,"employee_name":"Elizabeth Wood","age":47,"salary": 45000.00,"department":"IT"}

In [20]:
entries = list()
entries.append(entry1)
entries.append(entry2)
entries.append(entry3)

In [21]:
collection.insert_many(entries)

In [22]:
client.close()

5)Perform at least 3 selections based on different (MIXED - "one or another","one and another", etc.) filter

In [67]:
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [68]:
db = client["tasksweek8"]
collection = db["mongoDB"]

In [69]:
#1. Selection:#shows up multiple times, I might be doing smth wrong in here
results = collection.find({"$or":[{"department":"Sales"},{"department":"IT"}]})

In [70]:
for entry in results:
    print(entry)

{'_id': ObjectId('64d8adb9dd91a085fc3b518a'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}
{'_id': ObjectId('64d8b13ddd91a085fc3b5193'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b13ddd91a085fc3b5195'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}
{'_id': ObjectId('64d8b18bdd91a085fc3b519e'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b18bdd91a085fc3b51a0'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}
{'_id': ObjectId('64d8b236dd91a085fc3b51a9'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b236dd91a085fc3b51ab'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}
{'_id': ObjectId('64d8bdf1278df83668ae09e8'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8bdf1278df83668ae09ea'), 'employee_id': 8, 'employee_name': 'Elizabeth Wood', 'age': 47, 'salary': 45000.0, 'department': 'IT'}

In [71]:
#2. Selection:
results = collection.find({"department":{"$in":["Sales","Finance"]}})

In [72]:
for entry in results:
    print(entry)#shows up multiple times, I might be doing smth wrong in here

{'_id': ObjectId('64d8adb9dd91a085fc3b5189'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}
{'_id': ObjectId('64d8b13ddd91a085fc3b5193'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b13ddd91a085fc3b5194'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}
{'_id': ObjectId('64d8b18bdd91a085fc3b519e'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b18bdd91a085fc3b519f'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}
{'_id': ObjectId('64d8b236dd91a085fc3b51a9'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8b236dd91a085fc3b51aa'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}
{'_id': ObjectId('64d8bdf1278df83668ae09e8'), 'employee_id': 6, 'employee_name': 'Jane Steal', 'age': 27, 'salary': 34000.0, 'department': 'Sales'}
{'_id': ObjectId('64d8bdf1278df83668ae09e9'), 'employee_id': 7, 'employee_name': 'Adam Crane', 'age': 34, 'salary': 56000.0, 'department': 'Finance'}

In [73]:
#3. Selection:
results = collection.find({"age":{"$lte":25}})

In [74]:
for entry in results:
    print(entry)

 6)Perform at least 3 update operations

In [75]:
#1.
filter_cond = {"employee_id":9}
update = {"$set":{"name":"Arthur Allen","age":23}}
collection.update_one(filter_cond,update)

In [76]:
#2.
filter_cond = {"age":{"$lte":25}}
update = {"$set":{"level":"beginner"}}

collection.update_many(filter_cond,update)

In [77]:
#3.
collection.replace_one({"employee_id":6},{"employee_id":6,"employee_name":"Lily Clark"})

In [78]:
client.close()

Redis DB:
  1)Use the same SQL data as in Part 1.

In [83]:
import redis
# Connect to the Redis server
r = redis.StrictRedis(host='localhost', port=6379, db=0)

In [84]:
print(r)

Redis<ConnectionPool<Connection<host=localhost,port=6379,db=0>>>

 2)Create Redis DB, with the data from SQL:

In [85]:
import mysql.connector
connection = mysql.connector.connect(user="root",
                                     password="",
                                     host="localhost",
                                     database="tasksweek6")
cursor = connection.cursor()
cursor.execute("SELECT * FROM employees")
records = cursor.fetchall()
records

[(1, 'John Doe', 35, Decimal('50000.00'), 'Sales'),
 (2, 'Jane Smith', 28, Decimal('42000.00'), 'HR'),
 (3, 'Mike Johnson', 42, Decimal('60000.00'), 'Finance'),
 (4, 'Emily Brown', 29, Decimal('48000.00'), 'IT'),
 (5, 'David Lee', 38, Decimal('55000.00'), 'Sales')]

Set a key with a specific value in Redis:

In [86]:
r.set("employee_name", "Emma Peterson")

True

In [87]:
r.get("employee_name")

b'Emma Peterson'

Retrieve the value of a key from Redis:

In [89]:
name_value= r.get("employee_name")
print("employee_name:", name_value)

employee_name: b'Emma Peterson'

  Delete a key-value pair from Redis.

In [90]:
r.delete("employee_name")

1